* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.container {
  width: 1140px;
  background-color: black;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 65px;
  margin: 0px 0px 0px 380px;
}

.logo {
  position: absolute;
  width: 300px;
  padding: 24px 0px 0px;
  margin: 0px 25px -37px;
  z-index: 10;
}

.social-icons {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 0 15px;
  margin: 24px 0px -15px;
}

.social-icon {
  color: white;
  padding: 20px 0px 20px 20px;
  font-size: 15px;
}

.social-icon:hover {
  color: #bfc500;
  transition:.2s ease-in-out;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.video-container video {
  width: 100% !important;
  height: auto !important;
}

.text-box {
  display: flex;
  width: 380px;
  height: 215px;
  background-color: #000000;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  color: white;
  padding: 24px 0px 0px;
}

.welcome {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  font-weight: 800;
  font-style: italic;
  margin: 0px 0px 16px;
  line-height: 1.2;
  text-align: left;
}

button.enter {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #bfc500;
  color: #000000;
  padding: 14.25px;
  margin: 0px 0px 24px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.enter:hover {
  background-color: #ffffff;
  transition:.2s ease-in-out;
}


.text-box__details {
  border-bottom: 1px solid white;
  width: 285px;
}

.scroll-down {
  position: relative;
  width: 70px;
  font-size: 11.2px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.rotate {
  position: absolute;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  width: max-content;
  top: 50%;
  left: 3rem;
}

.rotate {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .2;
  }
}

.about {
  width: 760px;
}

.about p {
  color: white;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 0px 15px;
  margin: 0px 0px 16px;
  line-height: 1.5;
}

/* FOOOTER */

.footer {
  width: 100vw;
  height: 242px;
}

.footer-contents {
  padding: 20px 15px;
  margin: 0 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.hline {
  width: 90%;
  margin: 50px auto 0;
}

.email-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.email-label {
  color: #ffffff;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}

.email-input {
  width: 100%;
  height: 28px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  background-color: #272626;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 2px 2px 2px 10px;
}

.email-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.email-cta {
  display: flex;
  width: 50%;
}

.submit-email {
  width: 36px;
  height: 28px;
  border: none;
  margin-left: -3px;
  color: #ffffff;
  background-color: #4b4a4a;
  font-size: 16px;
  cursor: pointer;
}

.submit-email:hover {
  background-color: #bfc500;
  color: #000000;
  transition: .2s ease-in-out;
}

.footer-logo {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 200px;
  height: 200px;
}

.footer-social {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }
  .email-input {
    width: 171px;
  }
  .header {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

@media only screen and (max-width: 990px) {
  .container {
    width: 83%;
  }
  .social-icons {
    display: none;
  }
  .video-container {
    position: relative;
  }
  .text-box {
    width: 100%;
    position: absolute;
    bottom: -215px;
  }
  .about {
    width: 100%;
    position: absolute;
    bottom: -500px;
  }

  .text-box__details {
    width: 540px;
    height: 230px;
    margin: 0 15px;
    padding-bottom: 16px;
  }
  button.enter {
    padding: 27px;
    margin-bottom: 16px;
  }
  .scroll-down {
    margin-left: 40px;
  }
  .about {
    position: relative;
  }
  .about p {
    position: absolute;
    top: -250px;
  }
  .footer {
    width: 100%;
    position: relative;
  }
  .hline {
    position: absolute;
    margin: 0 auto 0 50px;
    text-align: center;
    top: 393px;
  }
  .footer-contents {
    width: 100%;
    position: absolute;
    flex-direction: column;
    margin: 0;
    top: 275px;
  }
  .footer-contents :nth-child(1) {
    order: 2;
  }
  .footer-contents :nth-child(2) {
    order: 1;
  }
  .footer-contents :nth-child(3) {
    order: 3;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
  }

  .email-label {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .email-cta {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .email-input {
    width: 100%;
    padding: 20px;
    
  }

  button.submit-email {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 20px;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 825px) {
  .container {
    width: 87%;
  }

  .about {
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hline {
    display: none;
  }

  .footer-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  

  .email-container {
    width: 100%;
  }

  .email-input {
    width: 80%;
  }

  .email-cta {
    width: 80%;
  }

  .footer-social {
   
  }
  .header {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .footer-logo {
    margin-top: 15px;
  }

  .about {
    width: 100%;
  }

  .text-box__details {
    height: auto;
  }

  button.enter {
    padding: 17px;
  }

  .scroll-down {
    margin-right: 25px;
  }

  .hline {
    display: none;
  }

  .footer {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .footer-logo {
    margin-top: 50px;
  }

  .about {
    width: 100%;
  }

  .hline {
    display: none;
  }

  .footer {
    width: 100%;
  }
}
