* {
  box-sizing: border-box;
}

.common-container {
  background-color: black;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 65px;
}

.logo {
  position: absolute;
  width: 300px;
  padding: 24px 0px 0px;
  margin-left: 380px;
  z-index: 10;
}

.social-icons {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 0 15px;
}

.social-icon {
  color: white;
  padding: 10px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-container video {
  width: 100%    !important;
  height: auto   !important;
}

.text-box {
  width: 300px;
  height: 200px;
  background-color: #000000;
  border: 1px solid red;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
}
